.app-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
  .sidebarSection {
    position: relative;
    height: 100%;
    width: 15vw; /* Default width when open */
    background-color: white;
    transition: width 0.3s ease-in-out;
  }
  
  .sidebarSection.closed {
    width: 50px; /* Sidebar width when closed */
  }
  
  .main-content {
    flex-grow: 1;
    margin-left: 15vw; /* Align content with sidebar open */
    transition: margin-left 0.3s ease-in-out;
    overflow-y: auto;
  }
  
  .sidebarSection.closed ~ .main-content {
    margin-left: 50px; /* Align content when sidebar is closed */
  }
  
  /* Adjustments for mobile */
  @media (max-width: 768px) {
    .sidebarSection {
      position: absolute;
      width: 250px;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;
    }
  
    .sidebarSection.open {
      transform: translateX(0);
    }
  
    .main-content {
      margin-left: 0; /* Reset content margin for mobile view */
    }
  }
  